<div  style="display:none" id="profile-budget-div">
  <h2 id="profile-budget-header">Profiling Budget:</h2>
  <br>

  <select id="profile-machine-count", onmousedown="this.value;" onchange="ws.send(JSON.stringify({message: 'budget change', num_workers: this.value}));">
    <option value="1">1 Worker Machine</option>
    <option value="2">2 Worker Machines</option>
    <option value="3">3 Worker Machines</option>
    <option value="4" selected>4 Worker Machines</option>
    <option value="5">5 Worker Machines</option>
    <option value="6">6 Worker Machines</option>
    <option value="7">7 Worker Machines</option>
    <option value="8">8 Worker Machines</option>
    <option value="9">9 Worker Machines</option>
    <option value="10">10 Worker Machines</option>
    <option value="11">11 Worker Machines</option>
    <option value="12">12 Worker Machines</option>
    <option value="13">13 Worker Machines</option>
    <option value="14">14 Worker Machines</option>
    <option value="15">15 Worker Machines</option>
    <option value="16">16 Worker Machines</option>
  </select>

  <form method="post" action="/budget_update">
    <input id="profile-budget-input" type="text" name="budget" value="$1.00">
    <input id="profile-budget-submit" type="submit" value="Profile Dataset">
  </form>
  <br>
</div>
<br><br>