<!-- Table for dataset profile. -->

<h2 style="display:none" id="profile-dataset-info-header"> Dataset Information</h2>
<div style="display:none" class="loader" id="dataset-profile-loader"></div>

<!-- Table for db datasets. -->
<% include /dataset_upload_dataset_table %>
<table style="display:none" id="profile-data-table" cellspacing='0'></table>