<!-- Table for dataset profile. -->
<h2>Dataset Information</h2>
<table cellspacing='0'>
    <thead>
        <tr>
        <th>Name</th>
        <th>S3URL</th>
        <th>Size (GB)</th>
        <th>Number of Samples</th>
        <th>Max Number of Features</th>
        <th>Average Sparsity</th>
        </tr>
    </thead>

    <% include /profile_dataset_row %>

</table>