<!-- Table for dataset profile. -->
<h2>Predictions</h2>
<div class="loader" id="dataset-profile-loader"></div>
<table hidden cellspacing='0'>
    <thead>
        <tr>
        <th>Total Time</th>
        <th>Epochs per hour</th>
        <th>Cost</th>
        </tr>
    </thead>

    <% include /profile_predictions_row %>

</table>