<!-- Table for dataset profile. -->

<h2>Dataset Information</h2>
<div class="loader" id="dataset-profile-loader"></div>

<table hidden id="data-profile-table" cellspacing='0'>
    <thead>
        <tr>
        <th>S3URL</th>
        <th>Size (GB)</th>
        <th>Number of Samples</th>
        <th>Max Number of Features</th>
        <th>Average Sparsity</th>
        </tr>
    </thead>

    <% include /profile_dataset_row %>

</table>